@font-face {
    font-family: Swera Regular;
    src: url(/fonts/Swera_Regular_Demo.otf);
}

h1 {
    font-family: Swera Regular;
    font-size: 200px;
}

h2 {
    font-family: Swera Regular;
    font-size: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    color: #000000;
}


.overline { text-decoration: overline; }
a {
    color: #000000;
    text-decoration: none;
}

a:hover
{
     color: #FFFFFF;
     text-decoration:none;
     cursor:pointer;
}

button{
  align-items: center;
  margin: 13px;
}

p {
    font-size: 20px;
}
