@font-face {
    font-family: Swera Regular;
    src: url(/fonts/Swera_Regular_Demo.otf);
}

h1 {
    font-family: Swera Regular;
    font-size: 250px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover
{
     color: #FFFFFF;
     text-decoration:none;
     cursor:pointer;
}

button{
  align-items: center;
  margin: 13px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: white;
   text-align: center;
   color: #000000;
}
